<p><%= @current_time %></p>

<!-- version 1 -->
<!-- <p><#%= @story.name %> : <#%= link_to @story.name, @story.link %></p>
 -->
<!-- version 2 -->
<!-- <p><#%= link_to @story.name, story_path(@story) %></p> -->

<!-- versions 3 -->
<!-- <p><#%= link_to @story.name, @story %></p> -->

<!-- Sans "stories_helper"
<h2><#%= "Showing #{ pluralize(@stories.size, 'story') }" %></h2>
<#%= render partial: 'story', collection: @stories %> -->


<!-- Avec "stories_helper" -->
<h2><%= story_list_heading %></h2>

<!-- Autre version de partial si conventions respectées -->
<%= render partial: @stories %>
